{% if won is None %}
    Противник: <b>{{ crew["name"] }}</b><br>
    {% if ship %}
        {% for key, value in ship.items() %}
            {% if value %}
                {{ key }}: {{ value ]}<br>
            {% endif %}
        {% endfor %}
    {% endif %}

    <br>

    {% if actions|length != 0 %}
    Ваш ход:
    {% else %}
    Ожидание хода противника
    {% endif %}
{% elif won %}
Вы победили!
{% else %}
Вы проиграли
