{% set ignore_item =  ["id", 
                       "order", 
                       "type_id", 
                       "name", 
                       "kind", 
                       "cost",
                       "description", ]  
%} 
{% set human_name = {"health": "жизнеспособность", 
                     "cost": "цена в Qk", 
                     "order": "приорететность", 
                     "level": "уровень", 
                     "upgrade_cost": "цена прокачки в Qk", 
                     "name": "название", 
                     "description": "описание", 
                     "power_generation": "вырабатываемая энергия", 
                     "power_consumption": "потребляемая энергия", 
                     "accel_factor": "коэф. ускорения загрузки дуэли", 
                     "mobility": "добавляет к мобильности", 
                     "stability": "добавляет к стабильности", 
                     "damage_absorption": "поглащение урона", 
                     "damage": "урон", 
                    }
%}

<b>{{ detail["name"] }}</b><br>
<i>{{ detail["description"] }}</i> <br>
-------------------<br>
{% if detail["health"] %}
    {{ detail["health"] }}/{{ detail["max_health"] }} HP; 
{% endif %}
{{ detail["level"] }} LVL <br>
{% for key, value in detail.items() %}
    {% if (key not in ignore_item) and (value) %}

        {{ human_name[key] }}: {{ value }}<br>

    {% endif %}
{% endfor %}

