{% set ignore_item =  ["id", 
                       "order", 
                       "upgrade_cost", 
                       "type_id", 
                       "name", 
                       "kind", 
                       "required",
                       "discription", 
                       "cost"]  
%} 
{% set human_name = {"health": "жизнеспособность", 
                     "cost": "цена",
                     "order": "приорететность", 
                     "level": "уровень", 
                     "upgrade_cost": "цена прокачки",
                     "name": "название", 
                     "description": "описание", 
                     "power_generation": "вырабатываемая энергия", 
                     "power_consumption": "потребляемая энергия", 
                     "accel_factor": "коэф. ускорения загрузки дуэли", 
                     "mobility": "добавляет к мобильности", 
                     "stability": "добавляет к стабильности", 
                     "damage_absorption": "поглащение урона", 
                     "damage": "урон", 
                    }
%}

<b>{{ category_name }}</b><br>
-------------------<br>
{% for detail in detail_copies %}

    <b>{{ loop.index }}. {{ detail["name"] }} </b><br>

    {% if detail["health"] %}
        {{ detail["health"] }}{% if detail["max_health"] %}/{{ detail["max_health"] }}{% endif %} HP;
    {% endif %}
    {{ detail["level"] }} LVL<br>
    {% if detail["damage"] %}
        урон: {{ detail["damage"] }}<br>
    {% endif %}
    {% if detail["required"] %}
        <i>деталь является обязательной</i><br>
    {% endif %}
    -------------------<br>
{% endfor %}
