<b>Общие правила:</b>
<br>
Вот что обязан знать каждый об этой вселенной: <br>
1. Игровая валюта — Qk (кварки), за них тут борьба не на жизнь, а на смерть
<br>
2. Экипаж — твоя команда, с которой ты бороздишь просторы космоса
(одному пользователю можно иметь лишь один экипаж)
<br>
3. Корабль — главный инструмент освоения космоса. У одного экипажа может быть только один корабль,
но зато прокачивать его можно почти до бесконечности: обновляй корпус, ставь новые детали, развивайся!
<br>
4. Детали — то из чего состоит корабль. Существуют обязательные детали, без которых корабль не может
выходить в открытый космос, и дополнительные. Обязательные деталии:<br>
    - Корпус — то, без чего корабль — не корабль<br>
    - Мостик — место, где происходит управление всем кораблем<br>
    - Плазменный генератор — то, что производит энергию, чтобы корабль мог взлететь<br>


<br>
<b>Основные команды:</b><br>
- 🚀 Корабль<br>
    Эта команда покажет тебе подробную информацию о твоём
    космическом корабле. Все указанные характеристики являются совокупностью
    подобных характеристик каждой детали.<br>
- 🛒 Магазин<br>
    Эта команда отправит тебя в место где без Qk делать нечего - магазин.
    Тебе будет предложено рассмотреть ассортимент по категориям деталей.<br>
- 🔫 Дуэль<br>
    Будь осторожен, ведь эта команда найдет тебе соперника, жаждущего заполучить все твои ресурсы.
    Но у тебя будет шанс отстоять своё добро в тяжёлой схватке.<br>
- 🔧 Гараж<br>
    С этой командой ты сможешь посмотреть неиспользуемые обвесы, которые можно одеть на корабль.
