<b>Общие правила:</b>
<br>
Вот что обязан знать каждый об этой вселенной: <br>
1. Игровая валюта - Qk (кварки), за них тут борьба не на жизнь, а на смерть
<br>
2. Экипаж - твоя команда, с которой ты бороздишь просторы космоса 
(одному пользователю дуоступно иметь лишь один экипаж)
<br>
3. Корабль - главный инструмент освоения космоса. У одного экипажа может быть только один корабль,
но зато прокачивать его можно почти до бесконечности: обновляй корпус, ставь новые детали, развивайся!
<br>
4. Детали - то из чего состоит корабль. Существуют обязательные детали, без которых корабль не может
выходить в открытый космос, и дополнительные. Обязательные деталии:
    - ...<br>
    - ...<br>


<br>
<b>Основные команды:</b><br>
- 🚀 Корабль<br>
    Эта команда покажет тебе подробную информацию а твоём
    космическом монстре. А конкретно:<br>
    1. клеймо<br>
    2. экземпляры деталей, надетых на корабль<br>
    3. общая жизнеспособность корабля<br>
    4. общая маневренность корабля<br>
    5. общее поглощение урона кораблем<br>
    6. общий урон корабля<br>
    7. стабильность корабля<br>
    8. общее количество энергии, вырабатываемое кораблем<br>
    9. общее количество энергии, потребляемое кораблем<br>
    10. ускорение корабля при варп-прыжках<br>
    11. максимальное количество деталей, которые можно надеть на данный корабль<br>
- 🛒 Магазин<br>
    Эта команда отправит тебя в место где без Qk делать нечего - магазин.
    Тебе будет предложено рассмотреть ассортимент по категориям деталей.<br>
- 🔫 Дуэль<br>
    Будь осторожен, ведь эта комнда найдет тебе соперника, жаждущего заполучить все тови ресурсы. 
    Но у тебя будет шанс отстоять своё добро в тяжёлой схватке
