<b>{{ crew["name"] }}</b><br>
{% if ship %}
    <i>{{ ship["shame"] }}</i><br>
    -------------------<br>

    {% for key, value in ship.items() %}
        {% if value %}
            {{ key }}: {{ value ]}<br>
        {% endif %}
    {% endfor %}
{% endif %}
