Корабль экипажа <b>{{ crew_name }}</b>
<br>
<br>
{% if shame %}
    👺 Клеймо: {{ shame }} <br>
{% endif %}
❤ Жизнеспособность: {{ health }} <br>
🗡Общий урон: {{ damage }} <br>
⚡ Потреблятся энергии: {{ power_consumption }}/{{ power_generation }} <br>
⚙ Максимум деталей: {{ detail_limit }} <br>
<br>
Манёвренность: {{ mobility }} <br>
Поглащение урона: {{ damage_absorption }} <br>
Стабильность: {{ stability }} <br>
Варп-ускроение: {{ accel_factor }} <br> 
