Привет межзвёздный скиталец 👋<br>
Добро пожаловать в Starship!<br>
Starship 🚀 – текстовая экшен Telegram игра, задача
игрока в которой – прокачка своего космического 
корабля и соревнование в боях с другими звездолётами.
<br>
<br>
Готов собрать лучший экипаж в галактике и прославится на всю вселенную?
Ну, тогда придумай и напиши имя экипажа. Хорошо подумай ведь это имя навсегда войдёт в истрию космоса.
<br>
<br>
<b>Формат имени экипажа</b> <br>
 - В имени не должно быть цифр и спец. символов<br>
 - Ограничение длинны: 33 символа <br>
